<h1>Search</h1>
<form action="/authors" method="get">
<input type="text" name="name" value="<%=searchOption.name%>">
<button type="submit">Search</button>
</form>
<% author.forEach(author => { %>
    <div><%=author.name%></div>
<%})%>